.text-image-div .text-image-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-image-div .main-text{
    color:#FF4181;
}
.text-image-div .fulldetais-text-main{
    margin: 8px 0px 15px;
}
.fulldetails{
    padding: 60px 15px;
}
.fulldatails-div .contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #FFDB28,#ce1474);
    color: #fff;
    cursor: pointer;
    padding: 10px 28px;
    margin-top: 40px;
    border: none;
}
.fulldatails-div .fulldatails-div-text{
    margin: 0px 0px 22px;
}
.fulldatails-div .fulldatails-main-text{
    margin: 8px 0px 15px;
}
.person-details .person-detail-typo:nth-child(even){
    padding: 5px 0px;
}
.fulldatails-main-text span{
    color:#FF4181;
}